In [1]:
import pandas as pd

raw_url = "https://raw.githubusercontent.com/Hhamdazzle/Student-Performance-Indicator/main/Raw%20dataset.csv"
df = pd.read_csv(raw_url)

df.head()

,student_id,Gender,Course,Section,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,midterm_score,weekly_self_study_hours,Study_Habit_level,class_participation,active_days_month,extracurricular_activities,final_score
0,CNSTU1000,Male,History,B,30,36,7,8,7,0,Medium,84.598574,80.960570,18.5,Medium,15,10,Yes,91.993554
1,CNSTU1001,Male,Biology,B,24,38,6,4,6,1,Medium,88.843851,73.340828,14.0,Medium,16,13,No,87.246337
2,CNSTU1002,Female,Mathematics,B,29,26,7,5,4,3,Low,83.660641,82.772262,19.5,Medium,15,27,No,78.596304
3,CNSTU1003,Male,English,A,36,35,7,3,6,2,Medium,87.536308,93.276358,25.7,High,8,9,No,71.530632
4,CNSTU1004,Female,Biology,B,31,37,8,6,7,0,High,74.851083,72.190160,13.4,Medium,19,20,No,84.982233

# Importing Libraries

In [2]:
import numpy as np
import pandas as pd

# Loading Dataset

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/Hhamdazzle/Student-Performance-Indicator/main/Raw%20dataset.csv')

In [ ]:
df.head(9)

,student_id,Gender,Course,Section,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,midterm_score,weekly_self_study_hours,Study_Habit_level,class_participation,active_days_month,extracurricular_activities,final_score
0,CNSTU1000,Male,History,B,30,36,7,8,7,0,Medium,84.598574,80.960570,18.5,Medium,15,10,Yes,91.993554
1,CNSTU1001,Male,Biology,B,24,38,6,4,6,1,Medium,88.843851,73.340828,14.0,Medium,16,13,No,87.246337
2,CNSTU1002,Female,Mathematics,B,29,26,7,5,4,3,Low,83.660641,82.772262,19.5,Medium,15,27,No,78.596304
3,CNSTU1003,Male,English,A,36,35,7,3,6,2,Medium,87.536308,93.276358,25.7,High,8,9,No,71.530632
4,CNSTU1004,Female,Biology,B,31,37,8,6,7,0,High,74.851083,72.190160,13.4,Medium,19,20,No,84.982233
5,CNSTU1005,Female,Chemistry,B,34,34,7,8,3,1,Low,91.706350,72.190357,13.4,Medium,11,22,Yes,81.934854
6,CNSTU1006,Male,Computer Science,A,40,36,8,9,7,1,Low,90.009644,93.950554,26.1,High,18,21,No,86.951932
7,CNSTU1007,Female,Chemistry,A,39,37,7,9,5,3,Medium,83.463291,84.209217,20.4,High,16,22,Yes,84.351718
8,CNSTU1008,Male,Biology,C,30,37,8,3,5,4,Medium,95.273965,69.366307,11.7,Low,5,5,No,88.495527

# Basic Insight of Dataset

# Data types

In [5]:
df.dtypes

student_id                         object
Gender                             object
Course                             object
Section                            object
Assignment_Score 1 (out of 40)      int64
Assignment_Score 2(out of 40)       int64
Test_Result 1 (out of 10)           int64
Test_result 2 (out of 10)           int64
Quiz_score (out of 7)               int64
Late_submission_count (0-5)        object
Lms_login_frequency level          object
attendance_rate                   float64
midterm_score                     float64
weekly_self_study_hours           float64
Study_Habit_level                  object
class_participation                 int64
active_days_month                   int64
extracurricular_activities         object
final_score                       float64
dtype: object

In [6]:
df.describe()

,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),attendance_rate,midterm_score,weekly_self_study_hours,class_participation,active_days_month,final_score
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000
mean,32.004000,32.341000,7.475000,5.822000,5.557000,89.645633,75.144304,15.15920,14.998000,17.075000,78.658912
std,4.508915,4.415905,1.005179,2.727592,1.343337,7.128777,11.504823,6.78477,3.841191,7.312924,9.853677
min,18.000000,16.000000,4.000000,1.000000,3.000000,65.843903,40.000000,0.00000,5.000000,5.000000,48.596114
25%,29.000000,29.000000,7.000000,4.000000,5.000000,84.816003,67.228916,10.47500,12.000000,11.000000,71.937583
50%,32.000000,33.000000,7.000000,6.000000,6.000000,89.997994,75.303607,15.20000,15.000000,17.000000,78.630771
75%,35.000000,35.000000,8.000000,8.000000,7.000000,95.287323,82.775327,19.50000,17.000000,23.000000,85.288822
max,40.000000,40.000000,10.000000,10.000000,7.000000,100.000000,100.000000,40.00000,28.000000,29.000000,100.000000

In [7]:
df.describe(include = "all")

,student_id,Gender,Course,Section,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,midterm_score,weekly_self_study_hours,Study_Habit_level,class_participation,active_days_month,extracurricular_activities,final_score
count,1000,1000,1000,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000,1000,1000.000000,1000.000000,1000.00000,1000,1000.000000,1000.000000,1000,1000.000000
unique,1000,3,8,3,NaN,NaN,NaN,NaN,NaN,6,3,NaN,NaN,NaN,3,NaN,NaN,2,NaN
top,CNSTU1999,Male,Chemistry,B,NaN,NaN,NaN,NaN,NaN,0,Medium,NaN,NaN,NaN,Medium,NaN,NaN,Yes,NaN
freq,1,466,146,435,NaN,NaN,NaN,NaN,NaN,294,401,NaN,NaN,NaN,435,NaN,NaN,535,NaN
mean,NaN,NaN,NaN,NaN,32.004000,32.341000,7.475000,5.822000,5.557000,NaN,NaN,89.645633,75.144304,15.15920,NaN,14.998000,17.075000,NaN,78.658912
std,NaN,NaN,NaN,NaN,4.508915,4.415905,1.005179,2.727592,1.343337,NaN,NaN,7.128777,11.504823,6.78477,NaN,3.841191,7.312924,NaN,9.853677
min,NaN,NaN,NaN,NaN,18.000000,16.000000,4.000000,1.000000,3.000000,NaN,NaN,65.843903,40.000000,0.00000,NaN,5.000000,5.000000,NaN,48.596114
25%,NaN,NaN,NaN,NaN,29.000000,29.000000,7.000000,4.000000,5.000000,NaN,NaN,84.816003,67.228916,10.47500,NaN,12.000000,11.000000,NaN,71.937583
50%,NaN,NaN,NaN,NaN,32.000000,33.000000,7.000000,6.000000,6.000000,NaN,NaN,89.997994,75.303607,15.20000,NaN,15.000000,17.000000,NaN,78.630771
75%,NaN,NaN,NaN,NaN,35.000000,35.000000,8.000000,8.000000,7.000000,NaN,NaN,95.287323,82.775327,19.50000,NaN,17.000000,23.000000,NaN,85.288822
max,NaN,NaN,NaN,NaN,40.000000,40.000000,10.000000,10.000000,7.000000,NaN,NaN,100.000000,100.000000,40.00000,NaN,28.000000,29.000000,NaN,100.000000



# **1.   Handling Missing Values**

In [ ]:
df.isnull()

,student_id,Gender,Course,Section,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,midterm_score,weekly_self_study_hours,Study_Habit_level,class_participation,active_days_month,extracurricular_activities,final_score
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   student_id                      1000 non-null   object
 1   Gender                          1000 non-null   object
 2   Course                          1000 non-null   object
 3   Section                         1000 non-null   object
 4   Assignment_Score 1 (out of 40)  1000 non-null   int64
 5   Assignment_Score 2(out of 40)   1000 non-null   int64
 6   Test_Result 1 (out of 10)       1000 non-null   int64
 7   Test_result 2 (out of 10)       1000 non-null   int64
 8   Quiz_score (out of 7)           1000 non-null   int64
 9   Late_submission_count (0-5)     1000 non-null   object
 10  Lms_login_frequency level       1000 non-null   object
 11  attendance_rate                 1000 non-null   float64
 12  midterm_score                   1000 non-null   float64
 13  weekly_self_study_hours         1000 non-null   float64
 14  Study_Habit_level               1000 non-null   object
 15  class_participation             1000 non-null   int64
 16  active_days_month               1000 non-null   int64
 17  extracurricular_activities      1000 non-null   object
 18  final_score                     1000 non-null   float64
dtypes: float64(4), int64(7), object(8)
memory usage: 148.6+ KB

# Count Missing Values in each column

In [9]:
missing_data = df.isnull()
headers = df.columns
for column in headers:
  print(missing_data[column].value_counts())
  print(" ")

student_id
False    1000
Name: count, dtype: int64

Gender
False    1000
Name: count, dtype: int64

Course
False    1000
Name: count, dtype: int64

Section
False    1000
Name: count, dtype: int64

Assignment_Score 1 (out of 40)
False    1000
Name: count, dtype: int64

Assignment_Score 2(out of 40)
False    1000
Name: count, dtype: int64

Test_Result 1 (out of 10)
False    1000
Name: count, dtype: int64

Test_result 2 (out of 10)
False    1000
Name: count, dtype: int64

Quiz_score (out of 7)
False    1000
Name: count, dtype: int64

Late_submission_count (0-5)
False    1000
Name: count, dtype: int64

Lms_login_frequency level
False    1000
Name: count, dtype: int64

attendance_rate
False    1000
Name: count, dtype: int64

midterm_score
False    1000
Name: count, dtype: int64

weekly_self_study_hours
False    1000
Name: count, dtype: int64

Study_Habit_level
False    1000
Name: count, dtype: int64

class_participation
False    1000
Name: count, dtype: int64

active_days_month
False    1000
Name: count, dtype: int64

extracurricular_activities
False    1000
Name: count, dtype: int64

final_score
False    1000
Name: count, dtype: int64

In [ ]:
df = df.fillna(0)

The dataset contained **no missing values**, so no rows were removed/dropped. Therefore, methods for handling missing values like replacing by mean, median, mode or frequency couldn't be performed.

##Handling non-numeric values in late_submission_counts column

In [10]:
df['Late_submission_count (0-5)'] = (
    df['Late_submission_count (0-5)']
    .replace('5+', 5)
    .astype(float)
)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   student_id                      1000 non-null   object
 1   Gender                          1000 non-null   object
 2   Course                          1000 non-null   object
 3   Section                         1000 non-null   object
 4   Assignment_Score 1 (out of 40)  1000 non-null   int64
 5   Assignment_Score 2(out of 40)   1000 non-null   int64
 6   Test_Result 1 (out of 10)       1000 non-null   int64
 7   Test_result 2 (out of 10)       1000 non-null   int64
 8   Quiz_score (out of 7)           1000 non-null   int64
 9   Late_submission_count (0-5)     1000 non-null   float64
 10  Lms_login_frequency level       1000 non-null   object
 11  attendance_rate                 1000 non-null   float64
 12  midterm_score                   1000 non-null   float64
 13  weekly_self_study_hours         1000 non-null   float64
 14  Study_Habit_level               1000 non-null   object
 15  class_participation             1000 non-null   int64
 16  active_days_month               1000 non-null   int64
 17  extracurricular_activities      1000 non-null   object
 18  final_score                     1000 non-null   float64
dtypes: float64(5), int64(7), object(7)
memory usage: 148.6+ KB



# **2.   Normalize Numeric Features**

Numeric features (assignment scores, test scores, attendance, study hours) normalized using MinMaxScaler to scale all values between 0 and 1.MinMax normalization was applied to academic and engagement-related numeric features to ensure all predictors lie on a comparable scale. Identifier and target variables were excluded. Standardization was not used as the dataset contained bounded values and MinMax scaling is more suitable for classification models and dashboard visualization.

In [11]:
from sklearn.preprocessing import MinMaxScaler

numeric_cols = [
    'Assignment_Score 1 (out of 40)',
    'Assignment_Score 2(out of 40)',
    'Test_Result 1 (out of 10)',
    'Test_result 2 (out of 10)', 'Quiz_score (out of 7)', 'attendance_rate','midterm_score','weekly_self_study_hours',
    'class_participation','active_days_month'
]

scaler = MinMaxScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [12]:
df.head()

,student_id,Gender,Course,Section,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,midterm_score,weekly_self_study_hours,Study_Habit_level,class_participation,active_days_month,extracurricular_activities,final_score
0,CNSTU1000,Male,History,B,0.545455,0.833333,0.500000,0.777778,1.00,0.0,Medium,0.549087,0.682676,0.4625,Medium,0.434783,0.208333,Yes,91.993554
1,CNSTU1001,Male,Biology,B,0.272727,0.916667,0.333333,0.333333,0.75,1.0,Medium,0.673378,0.555680,0.3500,Medium,0.478261,0.333333,No,87.246337
2,CNSTU1002,Female,Mathematics,B,0.500000,0.416667,0.500000,0.444444,0.25,3.0,Low,0.521627,0.712871,0.4875,Medium,0.434783,0.916667,No,78.596304
3,CNSTU1003,Male,English,A,0.818182,0.791667,0.500000,0.222222,0.75,2.0,Medium,0.635096,0.887939,0.6425,High,0.130435,0.166667,No,71.530632
4,CNSTU1004,Female,Biology,B,0.590909,0.875000,0.666667,0.555556,1.00,0.0,High,0.263706,0.536503,0.3350,Medium,0.608696,0.625000,No,84.982233

In [13]:
df[numeric_cols].dtypes

Assignment_Score 1 (out of 40)    float64
Assignment_Score 2(out of 40)     float64
Test_Result 1 (out of 10)         float64
Test_result 2 (out of 10)         float64
Quiz_score (out of 7)             float64
attendance_rate                   float64
midterm_score                     float64
weekly_self_study_hours           float64
class_participation               float64
active_days_month                 float64
dtype: object

# **Creating Target**
Final scores alone do not show which students are at risk, so we derived performance_level from multiple indicators. This classification identifies at-risk students while ensuring the model predicts meaningful, actionable categories.

In [14]:
df['performance_level'] = pd.cut(
    df[numeric_cols].mean(axis=1),
    bins=[0, 0.4, 0.7, 1.0],
    labels=['Low', 'Medium', 'High']
)

In [15]:
df['performance_level']

0      Medium
1      Medium
2      Medium
3      Medium
4      Medium
        ...
995    Medium
996      High
997    Medium
998    Medium
999    Medium
Name: performance_level, Length: 1000, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']



# **3.   Encoding Categorical Values with Scikit Learn**

# *   **Label Encoding Using Scikit Learn**

In [16]:
df.head()

,student_id,Gender,Course,Section,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,midterm_score,weekly_self_study_hours,Study_Habit_level,class_participation,active_days_month,extracurricular_activities,final_score,performance_level
0,CNSTU1000,Male,History,B,0.545455,0.833333,0.500000,0.777778,1.00,0.0,Medium,0.549087,0.682676,0.4625,Medium,0.434783,0.208333,Yes,91.993554,Medium
1,CNSTU1001,Male,Biology,B,0.272727,0.916667,0.333333,0.333333,0.75,1.0,Medium,0.673378,0.555680,0.3500,Medium,0.478261,0.333333,No,87.246337,Medium
2,CNSTU1002,Female,Mathematics,B,0.500000,0.416667,0.500000,0.444444,0.25,3.0,Low,0.521627,0.712871,0.4875,Medium,0.434783,0.916667,No,78.596304,Medium
3,CNSTU1003,Male,English,A,0.818182,0.791667,0.500000,0.222222,0.75,2.0,Medium,0.635096,0.887939,0.6425,High,0.130435,0.166667,No,71.530632,Medium
4,CNSTU1004,Female,Biology,B,0.590909,0.875000,0.666667,0.555556,1.00,0.0,High,0.263706,0.536503,0.3350,Medium,0.608696,0.625000,No,84.982233,Medium

Label Encoding Column 'Gender':

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

In [ ]:
df.head(16)

,student_id,Gender,Course,Section,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,midterm_score,weekly_self_study_hours,Study_Habit_level,class_participation,active_days_month,extracurricular_activities,final_score,performance_level
0,CNSTU1000,1,History,B,0.545455,0.833333,0.500000,0.777778,1.00,0.0,Medium,0.549087,0.682676,0.4625,Medium,0.434783,0.208333,Yes,91.993554,Medium
1,CNSTU1001,1,Biology,B,0.272727,0.916667,0.333333,0.333333,0.75,1.0,Medium,0.673378,0.555680,0.3500,Medium,0.478261,0.333333,No,87.246337,Medium
2,CNSTU1002,0,Mathematics,B,0.500000,0.416667,0.500000,0.444444,0.25,3.0,Low,0.521627,0.712871,0.4875,Medium,0.434783,0.916667,No,78.596304,Medium
3,CNSTU1003,1,English,A,0.818182,0.791667,0.500000,0.222222,0.75,2.0,Medium,0.635096,0.887939,0.6425,High,0.130435,0.166667,No,71.530632,Medium
4,CNSTU1004,0,Biology,B,0.590909,0.875000,0.666667,0.555556,1.00,0.0,High,0.263706,0.536503,0.3350,Medium,0.608696,0.625000,No,84.982233,Medium
5,CNSTU1005,0,Chemistry,B,0.727273,0.750000,0.500000,0.777778,0.00,1.0,Low,0.757184,0.536506,0.3350,Medium,0.260870,0.708333,Yes,81.934854,Medium
6,CNSTU1006,1,Computer Science,A,1.000000,0.833333,0.666667,0.888889,1.00,1.0,Low,0.707509,0.899176,0.6525,High,0.565217,0.666667,No,86.951932,High
7,CNSTU1007,0,Chemistry,A,0.954545,0.875000,0.500000,0.888889,0.50,3.0,Medium,0.515849,0.736820,0.5100,High,0.478261,0.708333,Yes,84.351718,Medium
8,CNSTU1008,2,Biology,C,0.545455,0.875000,0.666667,0.222222,0.50,4.0,Medium,0.861634,0.489438,0.2925,Low,0.000000,0.000000,No,88.495527,Medium
9,CNSTU1009,1,Biology,B,0.409091,0.875000,0.666667,0.333333,1.00,5.0,Low,0.926823,0.691845,0.4700,Medium,0.608696,0.750000,Yes,72.647648,Medium
10,CNSTU1010,1,History,C,0.727273,0.375000,0.500000,1.000000,0.75,0.0,High,0.330706,0.490650,0.2950,Low,0.652174,0.875000,Yes,91.173941,Medium
11,CNSTU1011,0,Computer Science,C,0.363636,0.500000,0.333333,0.000000,0.25,3.0,Medium,0.528582,0.490187,0.2925,Low,0.391304,0.291667,Yes,79.975996,Low
12,CNSTU1012,0,Economics,B,0.409091,0.541667,0.500000,0.333333,0.75,0.0,High,0.527079,0.631726,0.4175,Medium,0.391304,0.083333,Yes,98.752609,Medium
13,CNSTU1013,1,Chemistry,C,0.454545,0.750000,0.833333,0.555556,1.00,1.0,High,0.487084,0.200677,0.0400,Low,0.478261,1.000000,Yes,71.108122,Medium
14,CNSTU1014,1,Biology,C,0.909091,0.708333,0.666667,0.111111,0.00,3.0,Low,0.901505,0.238350,0.0725,Low,0.347826,0.166667,No,95.359638,Medium
15,CNSTU1015,1,History,C,0.454545,0.541667,0.500000,0.777778,1.00,0.0,Medium,0.661829,0.470876,0.2775,Low,0.347826,0.916667,Yes,79.979108,Medium

Label Encoding Column 'Lms_login_frequency level':

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Lms_login_frequency level'] = le.fit_transform(df['Lms_login_frequency level'])

In [19]:
df.head(6)

,student_id,Gender,Course,Section,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,midterm_score,weekly_self_study_hours,Study_Habit_level,class_participation,active_days_month,extracurricular_activities,final_score,performance_level
0,CNSTU1000,1,History,B,0.545455,0.833333,0.500000,0.777778,1.00,0.0,2,0.549087,0.682676,0.4625,Medium,0.434783,0.208333,Yes,91.993554,Medium
1,CNSTU1001,1,Biology,B,0.272727,0.916667,0.333333,0.333333,0.75,1.0,2,0.673378,0.555680,0.3500,Medium,0.478261,0.333333,No,87.246337,Medium
2,CNSTU1002,0,Mathematics,B,0.500000,0.416667,0.500000,0.444444,0.25,3.0,1,0.521627,0.712871,0.4875,Medium,0.434783,0.916667,No,78.596304,Medium
3,CNSTU1003,1,English,A,0.818182,0.791667,0.500000,0.222222,0.75,2.0,2,0.635096,0.887939,0.6425,High,0.130435,0.166667,No,71.530632,Medium
4,CNSTU1004,0,Biology,B,0.590909,0.875000,0.666667,0.555556,1.00,0.0,0,0.263706,0.536503,0.3350,Medium,0.608696,0.625000,No,84.982233,Medium
5,CNSTU1005,0,Chemistry,B,0.727273,0.750000,0.500000,0.777778,0.00,1.0,1,0.757184,0.536506,0.3350,Medium,0.260870,0.708333,Yes,81.934854,Medium

Label Encoding Column 'Study_Habit_level'"

In [20]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Study_Habit_level'] = le.fit_transform(df['Study_Habit_level'])

In [ ]:
df.head(5)

,student_id,Gender,Course,Section,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,midterm_score,weekly_self_study_hours,Study_Habit_level,class_participation,active_days_month,extracurricular_activities,final_score,performance_level
0,CNSTU1000,1,History,B,0.545455,0.833333,0.500000,0.777778,1.00,0.0,2,0.549087,0.682676,0.4625,2,0.434783,0.208333,Yes,91.993554,Medium
1,CNSTU1001,1,Biology,B,0.272727,0.916667,0.333333,0.333333,0.75,1.0,2,0.673378,0.555680,0.3500,2,0.478261,0.333333,No,87.246337,Medium
2,CNSTU1002,0,Mathematics,B,0.500000,0.416667,0.500000,0.444444,0.25,3.0,1,0.521627,0.712871,0.4875,2,0.434783,0.916667,No,78.596304,Medium
3,CNSTU1003,1,English,A,0.818182,0.791667,0.500000,0.222222,0.75,2.0,2,0.635096,0.887939,0.6425,0,0.130435,0.166667,No,71.530632,Medium
4,CNSTU1004,0,Biology,B,0.590909,0.875000,0.666667,0.555556,1.00,0.0,0,0.263706,0.536503,0.3350,2,0.608696,0.625000,No,84.982233,Medium

Label Encoding Column 'extracurricular_activities'"

In [21]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['extracurricular_activities'] = le.fit_transform(df['extracurricular_activities'])

In [22]:
df.head()

,student_id,Gender,Course,Section,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,midterm_score,weekly_self_study_hours,Study_Habit_level,class_participation,active_days_month,extracurricular_activities,final_score,performance_level
0,CNSTU1000,1,History,B,0.545455,0.833333,0.500000,0.777778,1.00,0.0,2,0.549087,0.682676,0.4625,2,0.434783,0.208333,1,91.993554,Medium
1,CNSTU1001,1,Biology,B,0.272727,0.916667,0.333333,0.333333,0.75,1.0,2,0.673378,0.555680,0.3500,2,0.478261,0.333333,0,87.246337,Medium
2,CNSTU1002,0,Mathematics,B,0.500000,0.416667,0.500000,0.444444,0.25,3.0,1,0.521627,0.712871,0.4875,2,0.434783,0.916667,0,78.596304,Medium
3,CNSTU1003,1,English,A,0.818182,0.791667,0.500000,0.222222,0.75,2.0,2,0.635096,0.887939,0.6425,0,0.130435,0.166667,0,71.530632,Medium
4,CNSTU1004,0,Biology,B,0.590909,0.875000,0.666667,0.555556,1.00,0.0,0,0.263706,0.536503,0.3350,2,0.608696,0.625000,0,84.982233,Medium

# **OneHot Encoding with Scikit Learn**

In [23]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output= False).set_output(transform = 'pandas')
ohetransform = ohe.fit_transform(df[['Course', 'Section']])

In [24]:
df= pd.concat([df, ohetransform], axis= 1 ). drop(columns = ['Course', 'Section'])

# **Arranging Columns**
##The columns are arraned alphabetically after HotOne encoding, rearranging them for ease when dividing into predictor and target

In [25]:
id_cols = ['student_id']

In [26]:
target_col = ['performance_level']

In [27]:
encoded_cols = ohetransform.columns.tolist()

In [28]:
numeric_cols = [
    col for col in df.columns
    if col not in id_cols + target_col + encoded_cols
]

In [29]:
df = df[id_cols + numeric_cols + encoded_cols + target_col]

In [30]:
df.head(10)

,student_id,Gender,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,...,Course_Computer Science,Course_Economics,Course_English,Course_History,Course_Mathematics,Course_Physics,Section_A,Section_B,Section_C,performance_level
0,CNSTU1000,1,0.545455,0.833333,0.500000,0.777778,1.00,0.0,2,0.549087,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,Medium
1,CNSTU1001,1,0.272727,0.916667,0.333333,0.333333,0.75,1.0,2,0.673378,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Medium
2,CNSTU1002,0,0.500000,0.416667,0.500000,0.444444,0.25,3.0,1,0.521627,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,Medium
3,CNSTU1003,1,0.818182,0.791667,0.500000,0.222222,0.75,2.0,2,0.635096,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,Medium
4,CNSTU1004,0,0.590909,0.875000,0.666667,0.555556,1.00,0.0,0,0.263706,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Medium
5,CNSTU1005,0,0.727273,0.750000,0.500000,0.777778,0.00,1.0,1,0.757184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Medium
6,CNSTU1006,1,1.000000,0.833333,0.666667,0.888889,1.00,1.0,1,0.707509,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,High
7,CNSTU1007,0,0.954545,0.875000,0.500000,0.888889,0.50,3.0,2,0.515849,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,Medium
8,CNSTU1008,2,0.545455,0.875000,0.666667,0.222222,0.50,4.0,2,0.861634,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Medium
9,CNSTU1009,1,0.409091,0.875000,0.666667,0.333333,1.00,5.0,1,0.926823,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Medium

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   student_id                      1000 non-null   object
 1   Gender                          1000 non-null   int64
 2   Assignment_Score 1 (out of 40)  1000 non-null   float64
 3   Assignment_Score 2(out of 40)   1000 non-null   float64
 4   Test_Result 1 (out of 10)       1000 non-null   float64
 5   Test_result 2 (out of 10)       1000 non-null   float64
 6   Quiz_score (out of 7)           1000 non-null   float64
 7   Late_submission_count (0-5)     1000 non-null   float64
 8   Lms_login_frequency level       1000 non-null   int64
 9   attendance_rate                 1000 non-null   float64
 10  midterm_score                   1000 non-null   float64
 11  weekly_self_study_hours         1000 non-null   float64
 12  Study_Habit_level               1000 non-null   int64
 13  class_participation             1000 non-null   float64
 14  active_days_month               1000 non-null   float64
 15  extracurricular_activities      1000 non-null   int64
 16  final_score                     1000 non-null   float64
 17  Course_Biology                  1000 non-null   float64
 18  Course_Chemistry                1000 non-null   float64
 19  Course_Computer Science         1000 non-null   float64
 20  Course_Economics                1000 non-null   float64
 21  Course_English                  1000 non-null   float64
 22  Course_History                  1000 non-null   float64
 23  Course_Mathematics              1000 non-null   float64
 24  Course_Physics                  1000 non-null   float64
 25  Section_A                       1000 non-null   float64
 26  Section_B                       1000 non-null   float64
 27  Section_C                       1000 non-null   float64
 28  performance_level               1000 non-null   category
dtypes: category(1), float64(23), int64(4), object(1)
memory usage: 220.0+ KB

# **Split Predictors And Target**

In [32]:
X = df.iloc[ :, :-1]
X = X.drop(columns = ['student_id', 'final_score'])

In [33]:
X

,Gender,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,midterm_score,...,Course_Chemistry,Course_Computer Science,Course_Economics,Course_English,Course_History,Course_Mathematics,Course_Physics,Section_A,Section_B,Section_C
0,1,0.545455,0.833333,0.500000,0.777778,1.00,0.0,2,0.549087,0.682676,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1,0.272727,0.916667,0.333333,0.333333,0.75,1.0,2,0.673378,0.555680,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0,0.500000,0.416667,0.500000,0.444444,0.25,3.0,1,0.521627,0.712871,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1,0.818182,0.791667,0.500000,0.222222,0.75,2.0,2,0.635096,0.887939,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0,0.590909,0.875000,0.666667,0.555556,1.00,0.0,0,0.263706,0.536503,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0.545455,0.458333,0.500000,0.333333,0.00,5.0,1,0.725374,0.527113,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
996,1,0.636364,0.916667,0.666667,1.000000,1.00,0.0,1,0.767597,0.942871,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
997,0,0.636364,0.625000,0.666667,0.000000,0.50,3.0,2,0.416383,0.711502,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
998,0,0.409091,0.291667,0.333333,0.333333,0.50,0.0,2,0.785497,0.469098,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
999,1,0.545455,0.708333,0.500000,0.555556,1.00,1.0,1,0.670862,0.697850,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [34]:
y = df.iloc[:, -1]

In [35]:
y

0      Medium
1      Medium
2      Medium
3      Medium
4      Medium
        ...
995    Medium
996      High
997    Medium
998    Medium
999    Medium
Name: performance_level, Length: 1000, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']




# **4. Split Data into Training And Testing**

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 89)

In [37]:
X_train

,Gender,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,midterm_score,...,Course_Chemistry,Course_Computer Science,Course_Economics,Course_English,Course_History,Course_Mathematics,Course_Physics,Section_A,Section_B,Section_C
530,1,0.545455,0.708333,0.500000,0.222222,0.50,2.0,1,0.818160,0.711052,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
586,1,0.227273,0.375000,0.333333,0.222222,0.75,4.0,2,0.398234,0.491461,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
601,0,0.909091,1.000000,0.833333,0.888889,0.50,1.0,2,0.852375,0.398900,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
993,1,0.545455,0.500000,0.333333,0.888889,0.75,3.0,2,0.657523,0.446936,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
848,0,0.545455,1.000000,0.666667,0.777778,0.25,0.0,2,0.564851,0.455785,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,1,0.590909,1.000000,0.833333,0.888889,0.75,3.0,1,0.609471,0.452966,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
877,1,0.863636,0.541667,0.500000,1.000000,1.00,0.0,2,0.550820,0.628091,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
132,1,0.772727,0.500000,0.666667,0.555556,1.00,1.0,0,0.864823,0.370873,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
286,1,1.000000,0.916667,0.833333,0.111111,0.50,3.0,2,0.890711,0.552976,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
915,1,0.727273,0.791667,0.833333,0.111111,1.00,3.0,2,1.000000,0.639138,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [38]:
X_test

,Gender,Assignment_Score 1 (out of 40),Assignment_Score 2(out of 40),Test_Result 1 (out of 10),Test_result 2 (out of 10),Quiz_score (out of 7),Late_submission_count (0-5),Lms_login_frequency level,attendance_rate,midterm_score,...,Course_Chemistry,Course_Computer Science,Course_Economics,Course_English,Course_History,Course_Mathematics,Course_Physics,Section_A,Section_B,Section_C
746,1,0.727273,0.500000,0.333333,0.777778,0.50,0.0,2,0.763749,0.620687,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
36,2,0.636364,0.416667,0.500000,0.444444,1.00,3.0,1,0.799138,0.625106,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
786,0,0.454545,0.208333,0.333333,0.555556,0.75,0.0,1,0.526879,0.750118,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
607,0,0.590909,0.583333,0.500000,0.333333,1.00,0.0,2,0.190641,0.334402,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
108,1,0.545455,0.666667,0.500000,0.888889,1.00,1.0,2,0.630258,0.634843,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,0,0.545455,0.583333,0.500000,0.000000,0.50,3.0,0,0.529573,0.613412,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
375,0,0.681818,0.458333,0.500000,0.333333,1.00,1.0,2,1.000000,0.429864,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
150,1,0.545455,0.625000,0.500000,0.111111,1.00,3.0,2,0.666038,0.633432,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
141,1,0.863636,0.750000,0.833333,0.777778,1.00,1.0,1,0.719145,0.844762,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
250,1,0.454545,0.750000,0.666667,0.333333,0.50,0.0,0,0.677352,0.331157,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [39]:
y_train

530    Medium
586       Low
601    Medium
993    Medium
848    Medium
        ...
534    Medium
877    Medium
132    Medium
286    Medium
915    Medium
Name: performance_level, Length: 800, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [40]:
y_test

746    Medium
36     Medium
786    Medium
607    Medium
108    Medium
        ...
385    Medium
375    Medium
150    Medium
141      High
250    Medium
Name: performance_level, Length: 200, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']



# **B.   MACHINE LEARNING MODELS**

In [41]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [42]:
results = []

# Applying Classification Algorithms





# 1.   Decision Trees

In [43]:
dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train, y_train)

y_pred_dt = dt.predict(X_test)

results.append({
    'Model': 'Decision Tree',
    'Accuracy': accuracy_score(y_test, y_pred_dt),
    'Precision': precision_score(y_test, y_pred_dt, average='weighted'),
    'Recall': recall_score(y_test, y_pred_dt, average='weighted'),
    'F1-Score': f1_score(y_test, y_pred_dt, average='weighted')
})




# 2.   Random Forest

In [44]:
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

y_pred_rf = rf.predict(X_test)

results.append({
    'Model': 'Random Forest',
    'Accuracy': accuracy_score(y_test, y_pred_rf),
    'Precision': precision_score(y_test, y_pred_rf, average='weighted', zero_division=0),
    'Recall': recall_score(y_test, y_pred_rf, average='weighted', zero_division=0),
    'F1-Score': f1_score(y_test, y_pred_rf, average='weighted', zero_division=0)
})



# 3.   Logistic Regression

In [45]:
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, y_train)

y_pred_lr = lr.predict(X_test)

results.append({
    'Model': 'Logistic Regression',
    'Accuracy': accuracy_score(y_test, y_pred_lr),
    'Precision': precision_score(y_test, y_pred_lr, average='weighted', zero_division= 0),
    'Recall': recall_score(y_test, y_pred_lr, average='weighted', zero_division=0),
    'F1-Score': f1_score(y_test, y_pred_lr, average='weighted', zero_division=0)
})



# 4.   Support Vector Machines(SVM)

In [46]:
svm = SVC()
svm.fit(X_train, y_train)

y_pred_svm = svm.predict(X_test)

results.append({
    'Model': 'Support Vector Machine',
    'Accuracy': accuracy_score(y_test, y_pred_svm),
    'Precision': precision_score(y_test, y_pred_svm, average='weighted', zero_division=0),
    'Recall': recall_score(y_test, y_pred_svm, average='weighted', zero_division=0),
    'F1-Score': f1_score(y_test, y_pred_svm, average='weighted', zero_division=0)
})

# Comparison of Models

In [47]:
results_df = pd.DataFrame(results)
results_df

                    Model  Accuracy  Precision  Recall  F1-Score
0           Decision Tree     0.865   0.864361   0.865  0.862676
1           Random Forest     0.910   0.896974   0.910  0.883925
2     Logistic Regression     0.920   0.901564   0.920  0.894806
3  Support Vector Machine     0.895   0.801025   0.895  0.845409

# Best Performing Model

**Logistic Regression**

Multiple classification algorithms were applied, including Decision Tree, Random Forest, Logistic Regression, and Support Vector Machine. Model performance was evaluated using accuracy, precision, recall, and F1-score. Among all models, Logistic Regression achieved the highest accuracy and F1-score, indicating better generalization on the dataset. Hence, Logistic Regression was selected as the final model for deployment in the dashboard.

In [48]:
df.to_csv('https://raw.githubusercontent.com/Hhamdazzle/Student-Performance-Indicator/refs/heads/main/preprocessed_dataset.csv')